<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-formation.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Les solutions IFT </h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->

<div class="spacer feature22">
  <div class="container">

    <div class="row wrap-feature-22">
      <!-- Column -->
      <div class="col-lg-12 no-trans">
        <div class="text-box">


          <h1 style="font-size: 14pt; color: #10b1d4;">Les solutions IFT</h1>
          <p class="text-justify">
            Depuis sa création, IFT (Institut de Formation en Tunisie) respecte la même stratégie : avec une équipe parfaitement
            formée toute entreprise peut construire son propre succès.
          </p>



          <h1 style="font-size: 14pt; color: #10b1d4;">Conseiller, former, accompagner</h1>
          <p class="text-justify">
            Depuis 2005, le développement et la gestion de carrière de formation éprouvée est en
            constante évolution et la direction de notre institut a été un catalyseur de changement
            positif.>Tous les enseignants de l’IFT sont des professionnels en exercice, ce qui permet
            de bonifier la formation par leurs expériences et leurs savoir-faire.
          </p>

        </div>
      </div>
      <!-- Column -->
    </div>


  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 22  -->
<!-- ============================================================== -->
