<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center">
        <h1 class="title">Formations BTS</h1>
        <h5 class="subtitle op-5">
          BTS Assistant(e) de Direction
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 no-trans">
      <div class="mini-spacer">
        <img src="assets/images/blog/808.jpg" alt="wrapkit" class="img-fluid" />
        <div
          class="d-flex align-items-center text-uppercase m-t-40 font-13 font-medium"
        ><div class="ml-auto">
        </div>
        </div>
        <h2 class="title font-light">
          BTS Assistant(e) de Direction
        </h2>
        <p class="m-t-30 m-b-30" class="text-justify">
          Le technicien en Assistant de direction sera capable de classer documents, gérer les tâches au quotidien (courrier, réclamation, accueil, information, réunion,) et gérer le planning du direction.
        </p>



        <!-- colonne-->
        <p class="m-t-30 m-b-30">
        <h1 style="font-size: 14pt; color: #10b1d4;">Profil de la formation BTS Assistant(e) de Direction</h1>
        <p class="text-justify">
          Notre formation solide axé sur  la gestion administrative et la communication, permet au titulaire d'un BTS Assistante de direction de prendre en charge des missions variées telles que: organisation des Rendez-vous et des réunions, accueil des visiteurs, rédaction des comptes rendus, gestion agenda, planifier des déplacements, coordonner avec les clients, les fournisseurs, le personnel...
        </p>

        <h1 style="font-size: 14pt; color: #10b1d4;">Conditions d’admission</h1>
        <ul class="text-justify">
          <li class="text-justify">Etre titulaire du Baccalauréat ou équivalent de 13 ans d’études réussis.</li>
        </ul>

        <h1 style="font-size: 14pt; color: #10b1d4;">Conditions de réussite</h1>
        <ul class="text-justify">
          <li class="text-justify"> Avoir une moyenne générale de contrôle des connaissances supérieure ou égale à 10/20.</li>
          <li class="text-justify"> Avoir une note de mémoire ou de stage supérieure ou égale à 10/20.</li>
          <li class="text-justify"> Avoir une note supérieure ou égale à 10/20 dans les travaux de recherche bibliographique.</li>
        </ul>

        <h1 style="font-size: 14pt; color: #10b1d4;">Durée de la formation</h1>
        <p>2 ans</p>


        <h1 style="font-size: 14pt; color: #10b1d4;">Programme de formation (Programme provisoire : le nombre de modules , le choix de matières et les intitulés de modules peuvent changer d’une année à l’autre)</h1>

        <table>
          <tbody>
          <tr>
            <td>
              Semestre 1
              <ul class="text-justify">
                <li class="text-justify">Exploiter les fonctions de base d’un logiciel de traitement de texte</li>
                <li class="text-justify">Communiquer en arabe dans des situations simplest</li>
                <li class="text-justify">Traiter les documents commerciaux et comptables</li>
                <li class="text-justify">Se familiariser à la profession</li>
                <li class="text-justify">Accueillir les visiteurs, appliquer les protocoles téléphoniques,</li>
                <li class="text-justify">utiliser le matériel de télécommunication</li>
                <li class="text-justify">Prendre des notes</li>
              </ul>
            </td>
            <td>
              Semestre 2
              <ul class="text-justify">
                <li class="text-justify">Exploiter les fonctions de base d’un logiciel de traitement de texte</li>
                <li class="text-justify">Communiquer en français dans des situations simples</li>
                <li class="text-justify">Communiquer en arabe</li>
                <li class="text-justify">Interpréter certains concepts relatifs à la législation du travail</li>
                <li class="text-justify">Rechercher l’information</li>
                <li class="text-justify">Superviser le travail du personnel de l’unité de burea</li>
                <li class="text-justify">Projet I</li>
                <li class="text-justify">Stage d’observation</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Semestre 3
              <ul class="text-justify">
                <li class="text-justify">Exploiter les fonctions de base d’un logiciel de traitement de texte</li>
                <li class="text-justify">Communiquer en anglais dans des situations simples</li>
                <li class="text-justify">Communiquer en français</li>
                <li class="text-justify">Assurer la tenue des réunions</li>
                <li class="text-justify">Résoudre des problèmes</li>
                <li class="text-justify">Conserver les documents</li>
              </ul>
            </td>
            <td>
              Semestre 4
              <ul class="text-justify">
                <li class="text-justify">Exploiter des logiciels d’application</li>
                <li class="text-justify">Communiquer en anglais</li>
                <li class="text-justify">Etablir des relations professionnelles</li>
                <li class="text-justify">Rédiger des rapports</li>
                <li class="text-justify">Gérer l’emploi du temps</li>
                <li class="text-justify">Exploiter les fonctions avancées d’un logiciel de traitement de texte</li>
                <li class="text-justify">Organiser des missions</li>
                <li class="text-justify">Projet II</li>
                <li class="text-justify">Stage d’intégration</li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
        <!-- colonne--
        ------>
        <div class="m-t-30">
          <button type="button" class="btn bg-facebook btn-rounded mr-3">
            <i class="fa fa-facebook"></i> Facebook
          </button>
          <button type="button" class="btn bg-twitter btn-rounded">
            <i class="fa fa-twitter"></i> Twitter
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Row  -->
</div>


