<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/404.png)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->




<div class="container">
  <div class="row">
    <div class="col-12 col-md-3 col-sm-3">
    </div>
    <div class="col-12 col-md-6 col-sm-9">
      <div class="serviceBox darkgreen">
        <div class="service-icon">
          <span><i class="fa fa-exclamation-triangle"></i></span>
        </div>
        <h3 class="title"> <span>Cette page pas disponible</span></h3>
        <p class="description">Le lien que vous avez suivi peut être incorrect ou la page peut avoir été supprimée</p>
        <a href="#" class="read-more"><i class="far fa-arrow-alt-circle-right"></i></a>
      </div>
    </div>
  </div>
</div>
