






<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-formation.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Pédagogie</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->

<div class="spacer feature22">
  <div class="container">

    <div class="row wrap-feature-22">
      <!-- Column -->
      <div class="col-lg-12 no-trans">
        <div class="text-box">




          <h1 style="font-size: 14pt; color: #10b1d4;">Pédagogie</h1>





          <div class="container">
            <div class="row">
            <div class="col-md-4 col-sm-6 col-xl-3 p-3">
                <img src="assets/images/partenaire/58035522e8223.jpeg">
              </div>
              <div class="col-md-4 col-sm-6 col-xl-3 p-3">
                <img src="assets/images/partenaire/5803553370151.jpeg">
              </div>
              <div class="col-md-4 col-sm-6 col-xl-3 p-3">
                <img src="assets/images/partenaire/5803554297c83.jpeg">
              </div>
              <div class="col-md-4 col-sm-6 col-xl-3 p-3">
                <img src="assets/images/partenaire/5803555502a3c.jpeg">
              </div>
              <div class="col-md-4 col-sm-6 col-xl-3 p-3">
                <img src="assets/images/partenaire/5803557cd47c8.jpeg">
              </div>
              <div class="col-md-4 col-sm-6 col-xl-3 p-3">
                <img src="assets/images/partenaire/5803556836bea.jpeg">
              </div>
              <div class="col-md-4 col-sm-6 col-xl-3 p-3">
                <img src="assets/images/partenaire/5803558c534d5.jpeg">
              </div>
              <div class="col-md-4 col-sm-6 col-xl-3 p-3">
                <img src="assets/images/partenaire/5803559fa71b3.jpeg">
              </div>
              <div class="col-md-4 col-sm-6 col-xl-3 p-3">
                <img src="assets/images/partenaire/580355b4d42ed.jpeg">
              </div>
              <div class="col-md-4 col-sm-6 col-xl-3 p-3">
                <img src="assets/images/partenaire/580355c2992cc.jpeg">
              </div>
              <div class="col-md-4 col-sm-6 col-xl-3 p-3">
                <img src="assets/images/partenaire/580355db68fd6.jpeg">
              </div>
            </div>
          </div>






<!-- boucle des images

ts: //fakeArray = new Array('1','2','3','4','5');
          <div class="container">
            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3"   >
              <div class="col" align="center" *ngFor="let a of fakeArray">
                <img src="assets/images/partenaire/58035522e8223.jpeg">
                <p> {{fakeArray[a]}}</p>
              </div>
            </div>
          </div>
---->


        </div>
      </div>
      <!-- Column -->
    </div>


  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 22  -->
<!-- ============================================================== -->


















