<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center">
        <h1 class="title">Formations BTS</h1>
        <h5 class="subtitle op-5">
          BTS Marketing
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container fw-lighter">
  <div class="row justify-content-center">
    <div class="col-md-8 no-trans">
      <div class="mini-spacer">
        <img src="assets/images/blog/505.jpg" alt="wrapkit" class="img-fluid" />
        <div
          class="d-flex align-items-center text-uppercase m-t-40 font-13 font-medium"
        ><div class="ml-auto">
        </div>
        </div>
        <h2 class="title font-light">
          BTS Marketing
        </h2>
        <p class="m-t-30 m-b-30" class="text-justify">
          Le technicien en Marketing peut élaborer un plan commercial Marketing, a des compétences pour  vendre, convaincre et négocier        </p>



        <!-- colonne-->
        <p class="m-t-30 m-b-30">
        <h1 style="font-size: 14pt; color: #10b1d4;">Profil de la formation BTS Marketing</h1>
        <p class="text-justify">
          Un technicien supérieur en Marketing peut prétendre au postes liés aux différents domaines de la vente, de la publicité, de la promotion des produits et la mise en place des stratégies de marketing et de ventes, il est capable d'évoluer vers des postes de responsabilité.
        </p>

        <h1 style="font-size: 14pt; color: #10b1d4;">Conditions d’admission</h1>
        <ul class="text-justify">
          <li class="text-justify">Etre titulaire du Baccalauréat ou équivalent de 13 ans d’études réussis.</li>
        </ul>

        <h1 style="font-size: 14pt; color: #10b1d4;">Conditions de réussite</h1>
        <ul class="text-justify">
          <li class="text-justify"> Avoir une moyenne générale de contrôle des connaissances supérieure ou égale à 10/20.</li>
          <li class="text-justify"> Avoir une note de mémoire ou de stage supérieure ou égale à 10/20.</li>
          <li class="text-justify"> Avoir une note supérieure ou égale à 10/20 dans les travaux de recherche bibliographique.</li>
        </ul>

        <h1 style="font-size: 14pt; color: #10b1d4;">Durée de la formation</h1>
        <p>2 ans</p>


        <h1 style="font-size: 14pt; color: #10b1d4;">Programme de formation (Programme provisoire : le nombre de modules , le choix de matières et les intitulés de modules peuvent changer d’une année à l’autre)</h1>

        <table>
          <tbody>
          <tr>
            <td>
              Semestre 1
              <ul class="text-justify">
                <li class="text-justify">Utiliser l’outil informatique et Internet</li>
                <li class="text-justify">Se familiariser avec l’entreprise et son environnement</li>
                <li class="text-justify">Marketing de base</li>
                <li class="text-justify">Français</li>
                <li class="text-justify">Droit, santé et sécurité de travail</li>
                <li class="text-justify">Exploiter les données statistiques</li>
                <li class="text-justify">Prospecter la clientèle</li>
              </ul>

            </td>
            <td>
              Semestre 2
              <ul class="text-justify">
                <li class="text-justify">Résoudre des problèmes</li>
                <li class="text-justify">Vendre un bien et/ou un service sur le lieu de vente</li>
                <li class="text-justify">Utiliser l’outil informatique et Internet</li>
                <li class="text-justify">Utiliser les outils de base de la gestion comptable et financière</li>
                <li class="text-justify">Arabe</li>
                <li class="text-justify">Qualité</li>
                <li class="text-justify">Adopter une démarche marketing</li>
                <li class="text-justify">Stage d’observation</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Semestre 3
              <ul class="text-justify">
                <li class="text-justify">Analyse de comportement du consommateur</li>
                <li class="text-justify">Planifier ses activités</li>
                <li class="text-justify">Appliquer les méthodes des calculs financiers</li>
                <li class="text-justify">Communiquer en milieu professionnel</li>
                <li class="text-justify">Elaborer une stratégie marketing</li>
                <li class="text-justify">Marketing international</li>
                <li class="text-justify">Anglais</li>
              </ul>
            </td>
            <td>
              Semestre 4
              <ul class="text-justify">
                <li class="text-justify">Communiquer en milieu professionne</li>
                <li class="text-justify">Réaliser une étude de marché</li>
                <li class="text-justify">Marketing international</li>
                <li class="text-justify">Communiquer en anglais commercial</li>
                <li class="text-justify">Gérer les approvisionnements</li>
                <li class="text-justify">Progiciel de gestion commerciale</li>
                <li class="text-justify">Appliquer la législation commerciale</li>
                <li class="text-justify">Effectuer des stages d’applications</li>
                <li class="text-justify">Stage d’intégration</li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Row  -->
</div>

