<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/lavie.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->

<div class="spacer feature22">
  <div class="container">
    <div class="row wrap-feature-22">
      <!-- Column -->
      <div class="col-lg-12 no-trans">
        <div class="text-box">
          <h1 style="font-size: 14pt; color: #10b1d4;">Galerie images </h1>


          <div class="row text-center text-lg-start" >


            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="assets/images/innerpage/5803a409d0ce4.png" alt="">
              </a>
            </div>


            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="assets/images/innerpage/5803a459d0191.jpeg" alt="">
              </a>
            </div>


            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="assets/images/innerpage/5803a624dc154.jpeg" alt="">
              </a>
            </div>


            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="assets/images/innerpage/5803a46858c67.jpeg" alt="">
              </a>
            </div>




            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="assets/images/innerpage/5803a60e442dc.jpeg" alt="">
              </a>
            </div>



            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="assets/images/innerpage/5803a4a6ab652.jpeg" alt="">
              </a>
            </div>



            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="assets/images/innerpage/5803a3f4eaa81.png" alt="">
              </a>
            </div>



            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="assets/images/innerpage/5803a3e1f40dd.png" alt="">
              </a>
            </div>


            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="assets/images/innerpage/5803a3afcce66.png" alt="">
              </a>
            </div>
          </div>



        </div>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 22  -->
<!-- ============================================================== -->

