<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/lavie.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->

<div class="spacer feature22">
  <div class="container fw-lighter">

    <div class="row wrap-feature-22">
      <!-- Column -->
      <div class="col-lg-12 no-trans">
        <div class="text-box">
          <h1 style="font-size: 14pt; color: #10b1d4;">Stage & emploi </h1>
          <p class="text-justify">
            Augmenter l’employabilité des diplômés et réduire les délais d’intégration sur le marché du travail.
            Tels sont les arguments de L’IFT, école basée en Tunisie.
          </p>

          <p class="text-justify">
            Le directeur de l’IFT a indiqué que ce centre de formation est spécialisé dans les métiers du tertiaire
            et de la gestion (comptabilité finance, Informatique, Gestion, Commerce International).
            « L’évolution des besoins de l’entreprise et de ses critères de recrutement interpelle l’IFT à
            offrir afinux étudiants un cursus aboutissant à un métier exigeant aujourd’hui une formation à la fois diplômante.
            Nos étudiants sont opérationnels dès la fin de la formation.
          </p>

          <p class="text-justify">
            Selon lui, le choix des filières est judicieusement étudié pour permettre aux diplômés de
            l’IFT une insertion dans le monde du travail.En effet,
            L’IFT a ciblé les différents diplômes de BTS à forte employabilité.
          </p>

        </div>
      </div>
      <!-- Column -->
    </div>


  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 22  -->
<!-- ============================================================== -->

