<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center">
        <h1 class="title">Formations BTS</h1>
        <h5 class="subtitle op-5">
          Formation sur mesure
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 no-trans">
      <div class="mini-spacer">
        <img src="assets/images/blog/404.jpg" alt="wrapkit" class="img-fluid" />
        <div
          class="d-flex align-items-center text-uppercase m-t-40 font-13 font-medium"
        ><div class="ml-auto">
        </div>
        </div>
        <h2 class="title font-light">
          Formation sur mesure
        </h2>
        <p class="m-t-30 m-b-30" class="text-justify">
          Nos cours de formation professionnelle sont conçus pour les personnes qui souhaitent soit commencer une nouvelle carrière et devenir gestionnaires, comptables ou informaticiens, soit ajouter des compétences dans une structure de carrière déjà existante.
        </p>

        <p class="m-t-30 m-b-30" class="text-justify">
          Inscrivez-vous dans notre programme de formation, et profitez d'une formation professionnelle (BTS ou BTP) sur mesure assurée par des formateurs qualifiés.
        </p>










        <!-- colonne-->
        <p class="m-t-30 m-b-30">
        <h1 style="font-size: 14pt; color: #10b1d4;">Emploi et spécialisé visés :</h1>
        <p class="text-justify">
          Le Technicien Supérieur en Informatique de Gestion doit réaliser les fonctions suivantes :
        </p>


        <!-- colonne--
        ------>

        <div class="m-t-30">
          <button type="button" class="btn bg-facebook btn-rounded mr-3">
            <i class="fa fa-facebook"></i> Facebook
          </button>
          <button type="button" class="btn bg-twitter btn-rounded">
            <i class="fa fa-twitter"></i> Twitter
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Row  -->
</div>


