<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center">
        <h1 class="title">Formations BTS</h1>
        <h5 class="subtitle op-5">
          BTS Commerce International
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 no-trans">
      <div class="mini-spacer">
        <img src="assets/images/blog/101.jpg" alt="wrapkit" class="img-fluid" />
        <div
          class="d-flex align-items-center text-uppercase m-t-40 font-13 font-medium"
        ><div class="ml-auto">
          </div>
        </div>
        <h2 class="title font-light">
          BTS Commerce International
        </h2>
        <p class="m-t-30 m-b-30" class="text-justify">
          La formation en BTS international permet d’initier les stagiaires aux techniques de commercialisation (import et export), de la vente, de la négociation, de la communication que ce soit à l’échelle nationale ou internationale.
        </p>

        <p class="m-t-30 m-b-30">
        <h1 style="font-size: 14pt; color: #10b1d4;">Emploi et spécialisé visés :</h1>
        <p class="text-justify">
          Le Technicien Supérieur en Commerce International assure les opérations commerciale
          (import, export, douane, etc.….) dans le pays et à l’étranger. Il assiste à la prospection,
          la négociation et la conclusion des contrats.</p>

        <h1 style="font-size: 14pt; color: #10b1d4;">Les compétences de base :</h1>
        <ul>
          <li>Gérer les opérations commerciales à l’import</li>
          <li>Gérer les opérations commerciales à l’export</li>
        </ul>






        <h1 style="font-size: 14pt; color: #10b1d4;">Les compétences associées :</h1>
        <ul>
          <li>Maitrise l’outil informatique</li>
          <li>Avoir une large culture géographique, «économique et linguistique</li>
        </ul>


        <h1 style="font-size: 14pt; color: #10b1d4;">Les compétences liées à l’emploi :</h1>
        <ul>
          <li>Etre méthodique et organisé</li>
          <li>Avoir la communication facile</li>
          <li>Savoir s’adapter facilement</li>
        </ul>











        <div class="m-t-30">
          <button type="button" class="btn bg-facebook btn-rounded mr-3">
            <i class="fa fa-facebook"></i> Facebook
          </button>
          <button type="button" class="btn bg-twitter btn-rounded">
            <i class="fa fa-twitter"></i> Twitter
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Row  -->
</div>
