<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center">
        <h1 class="title">Formations BTP</h1>
        <h5 class="subtitle op-5">
          BTP en vente des produits touristiques
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container fw-lighter">
  <div class="row justify-content-center">
    <div class="col-md-8 no-trans">
      <div class="mini-spacer">
        <img src="assets/images/btp/101.jpg" alt="wrapkit" class="img-fluid" />
        <div
          class="d-flex align-items-center text-uppercase m-t-40 font-13 font-medium"
        ><div class="ml-auto">
        </div>
        </div>
        <h2 class="title font-light">
          BTP en vente des produits touristiques
        </h2>
        <p class="m-t-30 m-b-30" class="text-justify">
          Le technicien en BTP vente des produits, sera capable de commercialiser  efficacement des Biens et Service en rapport avec le domaine touristique.
        </p>

        <p class="m-t-30 m-b-30">
        <h1 style="font-size: 14pt; color: #10b1d4;">Emploi et spécialisé visés :</h1>
        <p class="text-justify">
          Le Technicien en vente des produits Touristiques rassemble les fonctions suivantes :
        </p>
        <ul>
          <li>Agent commercial</li>
          <li>De réservation</li>
          <li>De vente</li>
          <li>Conseiller en voyage</li>
        </ul>
        <p class="text-justify">
          C’est le métier type du diplômé en tourisme notamment du BTP Agence de voyage.
        </p>



        <h1 style="font-size: 14pt; color: #10b1d4;"> Les compétences de base :</h1>

        <ul>
          <li>Maitriser la billetterie</li>
          <li>Maitrise minimum deux langues étrangères</li>
          <li>Participer à la gestion commerciale du pointe de vente de produits touristiques</li>
          <li>Assurer les transactions informatiques et la facturation</li>
        </ul>



        <h1 style="font-size: 14pt; color: #10b1d4;">  Les Modules :</h1>

        <ul>
          <li>Se situe au regard de la profession et de la démarche de formation</li>
          <li> Exploiter des outils informatiques
          </li>
          <li>Communiquer dans une 3 ème langue étrangère
          </li>
          <li>Dispenser de l’information touristique à caractère régional et national
          </li>
          <li>Communiquer en milieu de travail
          </li>
          <li>Assurer la qualité de service à la clientèle
          </li>
          <li>Assurer des activités de conseil et de vente des produits touristiques
          </li>
          <li>Effectuer les réservations
          </li>
          <li>Vendre des billets de transport
          </li>
          <li> Assister les clients durant leur séjour
          </li>
          <li>Superviseur une équipe de travail
          </li>
          <li>Utiliser des moyens de recherche d’emploi
          </li>
          <li>Anglais
          </li>
          <li>Français</li>
          <li>Arabe</li>
          <li>Gestion d’entreprise
          </li>
          <li>Législation</li>
          <li>Sécurité et santé de travail
          </li>
          <li>Gestion de la qualité
          </li>
          <li>Education environnementale
          </li>
          <li>Informatique</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Row  -->
</div>
