<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center">
        <h1 class="title">Formations BTP</h1>
        <h5 class="subtitle op-5">
          Formalités douanières
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container fw-lighter">
  <div class="row justify-content-center">
    <div class="col-md-8 no-trans">
      <div class="mini-spacer">
        <img src="assets/images/btp/707.jpg" alt="wrapkit" class="img-fluid" />
        <div
          class="d-flex align-items-center text-uppercase m-t-40 font-13 font-medium"
        ><div class="ml-auto">
        </div>
        </div>
        <h2 class="title font-light">
          Formalités douanières
        </h2>
        <p class="m-t-30 m-b-30" class="text-justify">
          Le diplôme BTP formalités Douanières est une formation professionnelle visant à développer des compétences en réglementation douanière en vue d’assurer l’exécution, le suivi et l’apurement des opérations.
        </p>


        <p class="m-t-30 m-b-30">
          Conditions d'accès :

        <p class="text-justify">
        Sont admis en première année BTP Formalités Douanières, les apprenants ayant le niveau de la 2ème année secondaire accomplie ou un diplôme de CAP ou un diplôme équivalent.
      </p>


        Pour qui ?
        <p class="text-justify">Le diplômé en BTP Formalités Douanières est un professionnel de la douane capable de :</p>


        <ul>
          <li>        Maîtriser les notions du régime douanier pour assigner à chaque marchandise importée ou exportée le régime douanier qui lui correspond.
          </li>
          <li>        Connaitre les différentes formalités douanières relatives à chaque régime douanier et les appliquer convenablement.
          </li>
          <li>     Bénéficier des avantages de certains régimes suspensifs et maîtriser les conditions d’obtention de l’accord de chaque régime douanier
          </li>
        </ul>





      </div>
    </div>
  </div>
  <!-- Row  -->
</div>
