<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-formation.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">Pourquoi choisir IFT ? </h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->

<div class="spacer feature22">
  <div class="container">

    <div class="row wrap-feature-22">
      <!-- Column -->
      <div class="col-lg-6" data-aos="flip-up" data-aos-duration="1200">
        <img [src]="imagePath" class="rounded img-responsive" alt="wrapkit" />
      </div>
      <!-- Column -->
      <div class="col-lg-6 no-trans">
        <div class="text-box">
          <h1 style="font-size: 14pt; color: #10b1d4;">Qui sommes nous ?</h1>
          <p class="text-justify">
          L’institut de formation professionnelle en Tunisie "IFT" a été créé en 2005.
          Suite à l'obtention de l'homologation auprès du Ministère de la Formation professionnelle et de l’Emploi,
          l'institut a annoncé sa fondation dans le but d'offrir une solution de formation pratique pour
          les étudiants qui désirent faire carrière dans la comptabilité, l'informatique de gestion ou
          le commerce International. En adoptant une approche unique de l'enseignement, avec un accent
          sur l'apprenant adulte, l'école a rapidement élargi ses programmes pour répondre au mieux
          aux besoins des étudiants en Tunisie.</p>

          <h1 style="font-size: 14pt; color: #10b1d4;">Qui sommes nous ?</h1>
          <p class="text-justify">
          Regroupant les meilleurs formateurs et experts en formation professionnelle en Tunisie,
          IFT est un centre de formation privée fondé depuis 2005.
          Suite à son agrégation auprès du Ministre de la formation professionnelle et de l'emploi,
          l'institut a mis en œuvre un système de formation professionnelle innové qui garantie une employabilité certaine.
          </p>


          <h1 style="font-size: 14pt; color: #10b1d4;">Pourquoi choisir L'institut de Formation IFT ?</h1>
          <p class="text-justify">
          Le succès de nos programmes de formation professionnelle est également dû en grande partie à nos formateurs d'élite,
          hautement qualifiés et passionnés par l'innovation. C'est aussi dû à notre
          collaboration avec des consultants reconnus dans le management et les nouvelles technologies, des cadres et des conférenciers Tunisiens et étrangers.
          </p>


          <h1 style="font-size: 14pt; color: #10b1d4;">Mission de l’IFT</h1>
          <p class="text-justify">
          Comme étant une école privée de formation de renommée,
          l’IFt pense avant tout à l'avenir professionnel des jeunes.
          C’est pourquoi, notre stratégie de formation vise également
          à améliorer à la fois les compétences académiques et professionnelles
          de nos étudiants afin de faciliter leur intégration dans la vie
          professionnelle et améliorer leur chance dans le marché d’emploi.
          </p>

          <h1 style="font-size: 14pt; color: #10b1d4;">Formation diplômante</h1>
          <p class="text-justify">
          -BTS : Commerce international, informatique de gestion, Multimédia,
          Réseaux informatique, Marketing, Info et communication, Assistant de direction,
          Tourisme -BTP : Informatique de gestion, Tourisme -BTS CGO -Licences
          DCG -Master DSCG -MBA Audi et Risk Formation continue
          - Formation intra-entreprise - Formation inter-entreprise - Cours du soir
          </p>

          <h1 style="font-size: 14pt; color: #10b1d4;">Formation à distance</h1>
          <p class="text-justify">
          Réalisé par une équipe de professionnels, dont l'expérience combine plusieurs années,
            nos programmes de formation à distance sont offerts dans un large éventail de domaines
            qui assurent une employabilité certaine.
          </p>

        </div>
      </div>
      <!-- Column -->
    </div>


  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 22  -->
<!-- ============================================================== -->
