<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center">
        <h1 class="title">Formations BTP</h1>
        <h5 class="subtitle op-5">
          Formation multimedia
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container fw-lighter">
  <div class="row justify-content-center">
    <div class="col-md-8 no-trans">
      <div class="mini-spacer">
        <img src="assets/images/btp/606.jpg" alt="wrapkit" class="img-fluid" />
        <div
          class="d-flex align-items-center text-uppercase m-t-40 font-13 font-medium"
        ><div class="ml-auto">
        </div>
        </div>
        <h2 class="title font-light">
          Formation multimedia
        </h2>
        <p class="m-t-30 m-b-30" class="text-justify">
          Grace à cette formation, le technicien en multimédia sera capable d’assister à :
        </p>

        <p class="m-t-30 m-b-30">
        <ul>
          <li>L’Analyse des besoins de l’entreprise ou bien du client en matière de communication</li>
          <li>La conception  (scénario, charte graphique, architecture technique)</li>
          <li>Le développement, la production des différents supports de communication (Cdrom, site web, vidéo, films, émission de télévision..).</li>
        </ul>


        <h1 style="font-size: 14pt; color: #10b1d4;"> Les secteurs de recrutement sont: </h1>

        <ul>
          <li>Le département informatique de toute entreprise</li>
          <li>Le département de communication de toute entreprise</li>
          <li>Une boite de communication/ publicité</li>
          <li>Le domaine d’E-Commerce</li>
        </ul>

          Cette formation développe chez le technicien en multimédia :
        <ul>
          <li>une passion pour les nouvelles technologies</li>
          <li>la curiosité et la réactivité</li>
          <li>Le sens de l’écoute afin de répondre aux attentes des partenaires</li>
          <li>Une bonne maîtrise des langues (français, arabe et anglais)</li>
        </ul>


        <h1 style="font-size: 14pt; color: #10b1d4;"> Les modules de la formation :</h1>

        <ul>
          <li>Le système d’exploitation Windows et Linux</li>
          <li>Architecture système informatique</li>
          <li>Application bureautique (MS Word, MS PowerPoint)</li>
          <li>Cryptographie & Sécurité des données informatiques</li>
          <li>Français</li>
          <li>Anglais</li>
          <li>Arabe</li>
          <li>HTML</li>
          <li>Internet</li>
          <li>Gestion d’entreprise</li>
          <li>Gestionnaire de base des donnés (MS ACCESS)</li>
          <li>Système d’exploitation réseau</li>
          <li>Législation sécurité et hygiène</li>
          <li>Observer la réalité du milieu professionnel</li>
          <li>Langage scripts</li>
          <li>Logiciel Auteurs</li>
          <li>Logiciel de création de site web (Microsoft, Frontpage, Macro Média, Dreaweaver)</li>
          <li>Commerce électronique</li>
          <li>Interface homme-machine</li>
          <li>Traitement d’image photos</li>
          <li>Traitement son</li>
          <li>Traitement vidéo (adobe première)</li>
          <li>Animation 2D</li>
          <li>Technologie de la communication</li>
          <li>Expression plastique</li>
          <li>S’intégrer au milieu professionnel</li>
        </ul>

      </div>
    </div>
  </div>
  <!-- Row  -->
</div>
