.main-timeline{ font-family: 'Poppins', sans-serif; }
.main-timeline:after{
  content: '';
  display: block;
  clear: both;
}
.main-timeline .timeline{
  width: 50%;
  padding: 0 0 0 45px;
  margin: 0 0 0 5px;
  float: right;
}
.main-timeline .timeline-content{
  color: #777;
  background: linear-gradient(#fff 50%, #f9f9f9 50%);
  padding: 15px 15px 15px 70px;
  border: 10px solid #fff;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  display: block;
  position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before{
  content: "";
  background: linear-gradient(to right bottom,#C0A9E1 50%, #AC98CD 50%);
  width: 100px;
  height: 100px;
  border-radius: 0 0 0 100px;
  transform: translateY(-50%) rotate(45deg);
  position: absolute;
  top: 50%;
  left: -75px;
}
.main-timeline .timeline-icon{
  color: #fff;
  font-size: 45px;
  font-weight: 600;
  line-height: 35px;
  transform: translateY(-50%);
  position: absolute;
  left: -35px;
  top: 50%;
}
.main-timeline .title{
  color: #AC98CD;
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}
.main-timeline .description{
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1px;
  margin: 0;
}
.main-timeline .timeline:nth-child(even){
  padding: 0 45px 0 0;
  margin: 0 5px 0 0;
  float: left;
}
.main-timeline .timeline:nth-child(even) .timeline-content{ padding: 20px 70px 20px 20px; }
.main-timeline .timeline:nth-child(even) .timeline-content:before{
  transform: translateY(-50%) rotate(225deg);
  left: auto;
  right: -75px;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
  left: auto;
  right: -35px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content:before{ background: linear-gradient(to right bottom,#6AC5A6 50%, #60B397 50%); }
.main-timeline .timeline:nth-child(4n+2) .title{ color: #60B397; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content:before{ background: linear-gradient(to right bottom, #7AA5E8 50%, #6E96D3 50%); }
.main-timeline .timeline:nth-child(4n+3) .title{ color: #6E96D3; }
.main-timeline .timeline:nth-child(4n+4) .timeline-content:before{ background: linear-gradient(to right bottom, #C34456 50%, #AF384C 50%); }
.main-timeline .timeline:nth-child(4n+4) .title{ color: #AF384C; }
@media screen and (max-width:767px){
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even){
    width: 100%;
    padding: 45px 0 0 0;
    margin: 0 0 30px;
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(even) .timeline-content{
    text-align: center;
    padding: 60px 20px 20px;
  }
  .main-timeline .timeline-content:before,
  .main-timeline .timeline:nth-child(even) .timeline-content:before{
    transform: translateY(0) translateX(-50%) rotate(135deg);
    top: -75px;
    left: 50%;
    right: 0;
  }
  .main-timeline .timeline-icon,
  .main-timeline .timeline:nth-child(even) .timeline-icon{
    transform: translateY(0) translateX(-50%);
    left: 50%;
    right: auto;
    top: -35px;
  }
}
