
<div class="bg-light spacer feature1">
  <div class="container fw-lighter">

    <div class="bg-light spacer feature1">
      <div class="container">
        <div class="row justify-content-center">
          <!-- Column -->
          <div class="col-md-8 no-trans text-center ">
            <h2 class="title">Formations</h2>
            <h6 class="subtitle">

              <p>Nos cours de formation professionnelle sont conçus pour les personnes qui
                souhaitent soit commencer une nouvelle carrière et devenir gestionnaires,
                comptables ou informaticiens, soit ajouter des compétences dans une structure de carrière déjà existante.</p>


              <p>Inscrivez-vous dans notre programme de formation,
                et profitez d'une formation professionnelle (BTS ou BTP)
                sur mesure assurée par des formateurs qualifiés.</p>
            </h6>
          </div>
          <!-- Column -->
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="main-timeline">
                <div class="timeline"  *ngFor="let bl of blogs">
                  <a (click)="viewDetail(bl.Lien,bl.id)" class="timeline-content">
                    <div class="timeline-icon"><i class="{{bl.icon}}"></i></div>
                    <h3 class="title">{{ bl.titre }}</h3>
                    <p class="description">
                      {{ bl.description }}
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div></div>
