<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->

<div class="spacer feature22">
  <div class="container fw-lighter">

    <div class="row wrap-feature-22">
      <!-- Column -->
      <div class="col-lg-12 no-trans">
        <div class="text-box">
          <h1 style="font-size: 14pt; color: #10b1d4;">La vie à l’IFT </h1>
          <p class="text-justify fw-lighter">
            Importante dans la construction de son projet professionnel et dans son
            épanouissement personnel, la richesse de la vie étudiante à
            &nbsp;l’institut de &nbsp;<strong>Formation &nbsp;en Tunisie &nbsp;</strong>IFT
            permet à chaque étudiant d’exprimer ses sensibilités et ses talents,
            aussi bien dans le sport, la culture, l’économie ou encore l’humanitaire.
          <strong>Notre Institut de Formation&nbsp;<strong>&nbsp;est doté d’une structure qui développe l’initiative et le sens de la responsabilité chez l’etudiant</strong></strong></p>


<p><strong>ESPACE ETUDIANTS:</strong></p>

          <ul class="puce_carre ">
            <li>Bureau des élèves</li>
            <li>Buvette</li>
            <li>Bibliothèque</li>
            <li>Espace WIFI</li>
            <li>Salle de projection de film</li>
            <li>À Proximité de l’école: Librairie,Pâtisserie,fast food,Caféteria,Banque,Tennis Club..</li>
          </ul>

        </div>
      </div>
      <!-- Column -->
    </div>


  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 22  -->
<!-- ============================================================== -->

