<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center">
        <h1 class="title">Formations BTS</h1>
        <h5 class="subtitle op-5">
          Technicien Supérieur en comptabilité et finance
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container fw-lighter">
  <div class="row justify-content-center">
    <div class="col-md-8 no-trans">
      <div class="mini-spacer">
        <img src="assets/images/blog/909.jpg" alt="wrapkit" class="img-fluid" />
        <div
          class="d-flex align-items-center text-uppercase m-t-40 font-13 font-medium"
        ><div class="ml-auto">
        </div>
        </div>
        <h2 class="title font-light">
          Technicien Supérieur en comptabilité et finance
        </h2>
        <p class="m-t-30 m-b-30" class="text-justify">
          La formation en BTS comptabilité finance permet à l’apprenant de savoir gérer la comptabilité au sein de l’Entreprise (gérer des fichiers, gérer la documentation, traîte facturation, suivi des comptes, élaborer les déclarations fiscales, paye, stock…).
        </p>



        <!-- colonne-->
        <p class="m-t-30 m-b-30">
        <h1 style="font-size: 14pt; color: #10b1d4;">Emploi et spécialisé visés :</h1>
        <p class="text-justify">
          Le Technicien Supérieur en comptabilité et finance exerce une fonction de tenir la comptabilité au sein de l’entreprise. Après une formation continue de 2 ans dans une filière comptabilité et finance le bénéficiaire doit réaliser les fonctions suivantes :
        </p>
        <h1 style="font-size: 14pt; color: #10b1d4;">Administratives :</h1>
        <ul class="text-justify">
          <li class="text-justify">Gérer les différents fichiers (informatiques et autres)</li>
          <li class="text-justify">Assurer le classement de différents documents</li>
        </ul>

        <h1 style="font-size: 14pt; color: #10b1d4;">Comptables :</h1>
        <ul class="text-justify">
          <li class="text-justify">Travaux de préparation qui ne sont pris en charge par un cabinet de gestion</li>
          <li class="text-justify">Faire suivi des comptes clients et fournisseurs</li>
          <li class="text-justify">Facturation (livraison, bon de commande)</li>
          <li class="text-justify">Paie (Etablir des bulletins de paie, déclaration fiscales et autres)</li>
          <li class="text-justify">Gestion des stocksGestion de la trésorerie</li>
        </ul>

        <h1 style="font-size: 14pt; color: #10b1d4;">Les compétences de base pour exercer le métier :</h1>
        <ul class="text-justify">
          <li class="text-justify">Maitriser la comptabilité générale pour élaborer des états financiers</li>
          <li class="text-justify">Avoir connaissance des procédures législatives et réglementaires</li>
          <li class="text-justify">Connaitre les différents crédits de financement</li>
          <li class="text-justify">Rédiger rapport, compte rendu.</li>
        </ul>


        <h1 style="font-size: 14pt; color: #10b1d4;">Les compétences associées :</h1>
        <ul class="text-justify">
          <li class="text-justify">Maitrise de l’outil informatique</li>
          <li class="text-justify">Maitrise les méthodes de classement</li>
          <li class="text-justify">Remplir les déclarations de TVA, l’employeur, revenue et CNSS.</li>
        </ul>

        <h1 style="font-size: 14pt; color: #10b1d4;">Les compétences liées à l’emploi :</h1>
        <ul class="text-justify">
          <li class="text-justify">Etre organisé et méthodique</li>
          <li class="text-justify">Avoir l’esprit d’équipe</li>
          <li class="text-justify">Avoir la communication facile</li>
          <li class="text-justify">Avoir l’esprit d’analyse et de synthèse</li>
        </ul>

      </div>
    </div>
  </div>
  <!-- Row  -->
</div>

