.about p {
  margin: 0;
  text-indent: 2rem;
  text-align: justify;
}


.btn2{
  color: #555;
  background: transparent;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 7px 20px;
  margin: 7px;
  border: none;
  border-radius: 0;
  position: relative;
  z-index: 1;
  transition:all 0.5s ease 0s;
}
.btn2:focus,
.btn2:hover{
  color: #fff;
  background: #2980b9;
}
.btn2:before,
.btn2:after{
  content: '';
  height: 100%;
  width: 80%;
  border: 2px solid #555;
  border-right: none;
  border-bottom: none;
  position: absolute;
  left: -7px;
  top: -7px;
  transition: all 0.2s ease-in, width 0.5s cubic-bezier(.45,-0.33,.43,1.46);
}
.btn2:after{
  transform: rotate(180deg);
  top: auto;
  left: auto;
  right: -7px;
  bottom: -7px;
}
.btn2:hover:before,
.btn2:hover:after{
  width: 30%;
}
@media only screen and (max-width: 767px){
  .btn2{ margin-bottom: 30px; }
}




