<div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="h6-info">
    <ul class="navbar-nav ml-auto  align-items-center">

        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/">
              Accueil
            </a>
        </li>


      <li class="nav-item dropdown" [routerLinkActive]="['active']">
        <a class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink="/">
          Pourquoi BEFI ?
        </a>
        <div class="dropdown-menu"  aria-labelledby="dropdown03">
          <a  class="dropdown-item" (click)="quinous('quinous/')">Qui sommes nous?</a>
          <a  class="dropdown-item" (click)="quinous('engage')">IFT S’engage</a>
          <a  class="dropdown-item" (click)="quinous('solutions')">Les solutions IFT</a>
          <a  class="dropdown-item" (click)="quinous('pedagogie')">Pédagogie</a>
          <a  class="dropdown-item" (click)="quinous('partenaires')">Nos Partenaires</a>
        </div>
      </li>






      <li class="nav-item dropdown" [routerLinkActive]="['active']">
        <a class="nav-link dropdown-toggle" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink="/">
          Formations BTS
        </a>
        <div class="dropdown-menu"  aria-labelledby="dropdown04">
          <a  class="dropdown-item" (click)="quinous('commerce/commerce/')">Commerce International</a>
          <a  class="dropdown-item" (click)="quinous('multimédia/multimédia/')">Multimédia</a>
          <a  class="dropdown-item" (click)="quinous('reseau/reseau/')">Réseaux informatiques</a>
          <a  class="dropdown-item" (click)="quinous('gestion/gestion/')">Informatique de gestione</a>
          <a  class="dropdown-item" (click)="quinous('marketing/marketing/')">Marketing</a>
          <a  class="dropdown-item" (click)="quinous('Communication/Communication/')">Infographie et Communication</a>
          <a  class="dropdown-item" (click)="quinous('direction/direction/')">Assistant(e) de Direction</a>
          <a  class="dropdown-item" (click)="quinous('finance/finance/')">Technicien Supérieur en comptabilité et finance</a>
        </div>
      </li>



      <li class="nav-item dropdown" [routerLinkActive]="['active']">
        <a class="nav-link dropdown-toggle" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink="/">
          Formations BTP
        </a>
        <div class="dropdown-menu"  aria-labelledby="dropdown05">
          <a  class="dropdown-item" (click)="formation('ventebtp')">Le technicien en BTP vente des produits</a>
          <a  class="dropdown-item" (click)="formation('gestionbtp')">Informatique de gestion</a>
          <a  class="dropdown-item" (click)="formation('comptablebtp')">Comptable d’entreprise</a>
          <a  class="dropdown-item" (click)="formation('commercebtp')">Commerce de Distribution</a>
          <a  class="dropdown-item" (click)="formation('infographiebtp')">Infographie et Publication Assisté par Ordinateur</a>
          <a  class="dropdown-item" (click)="formation('multimediabtp')">Formation multimedia</a>
          <a  class="dropdown-item" (click)="formation('douanieresbtp')">Formalités douanières</a>
          <a  class="dropdown-item" (click)="formation('patisseriebtp')">Formation Patisserie BTP Tunisie (IFT-ART)</a>
        </div>
      </li>


      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/inscrientreprise">
          Espace Entreprises
        </a>
      </li>


      <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/about">
              Contact
            </a>
      </li>


        <li class="nav-item" [routerLinkActive]="['active']">
            <a routerLink="/inscriptionEtudiant" class="btn btn-danger-gradiant font-14">
              Inscription
            </a>
        </li>
    </ul>

</div>

