<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center">
        <h1 class="title">Formations BTP</h1>
        <h5 class="subtitle op-5">
          BTP Commerce de Distribution
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 no-trans">
      <div class="mini-spacer">
        <img src="assets/images/btp/404.jpg" alt="wrapkit" class="img-fluid" />
        <div
          class="d-flex align-items-center text-uppercase m-t-40 font-13 font-medium"
        ><div class="ml-auto">
        </div>
        </div>
        <h2 class="title font-light">
          BTP Commerce de Distribution
        </h2>
        <p class="m-t-30 m-b-30" class="text-justify">
          Le technicien en commerce de distribution  sera capable de traiter les opérations liées à la vente, à l’achat, à la négociation et maîtrise les démarches de l’import et l’export dans le domaine du concurrence.
        </p>

        <p class="m-t-30 m-b-30">

        <h1 style="font-size: 14pt; color: #10b1d4;">Emploi et spécialisé visés :  </h1>

        <p class="text-justify">
          Le Technicien professionnel en Commercial de distribution doit assurer une opération de vente, subvenir aux besoins commerciales, veiller au bon fonctionnement et l’utilisation des logiciels de gestion commerciales.
        </p>




        <h1 style="font-size: 14pt; color: #10b1d4;">lieu d’exercice de la profession:</h1>
        <ul>
          <li>Les entreprises commerciales</li>
          <li>Les secteurs industriels</li>
          <li>Les grossistes ou distributeurs</li>
        </ul>
        Après une formation continue de 2 ans, le technicien professionnel en Commercial de distribution sera capable :
        <ul>
          <li>Animer, négocier, conseiller</li>
          <li>Saisir les données et présenter les états nécessaires à l’étude</li>
          <li>Exploiter dans le domaine de gestion commerciale</li>
          <li>Assurer l’intégration à la vie professionnelle</li>
          <li>Connaitre le marché du travail</li>
          <li>Connaitre ses droits et ses responsabilités en tant que travailleur</li>
        </ul>




        <h1 style="font-size: 14pt; color: #10b1d4;"> Les Modules : </h1>
        <ul>
          <li>Se familiariser avec l’entreprise et son environnement</li>
          <li>Manipuler les outils de base de la gestion commerciale</li>
          <li>Améliorer la rotation des stocks</li>
          <li>Manipuler des documents commerciaux</li>
          <li>Observer le milieu de travail</li>
          <li>Exploiter les données statistiques</li>
          <li>Acquérir les notions élémentaires de la comptabilité</li>
          <li>Acquérir les bases élémentaires de la fiscalité</li>
          <li>Cerner le comportement du consommateur</li>
          <li>Analyser une situation financière</li>
          <li> Aménager une surface de vente</li>
          <li>Participer à l’activité de l’entreprise</li>
          <li>Exploiter un progiciel de gestion commerciale</li>
          <li>Organisation du travail</li>
          <li>Assurer le déroulement d’une étude de marché</li>
          <li>Assurer la commercialisation d’un service</li>
          <li>Négocier la transaction d’un bien ou d’un service</li>
          <li>Communication dans le milieu de travail</li>
          <li>Assister à l’élaboration d’une stratégie commerciale de l’entreprise</li>
          <li>Analyser une situation comptableS’intégrer au milieu professionnel</li>
          <li>Communiquer en arabe</li>
          <li>Communiquer en français</li>
          <li>Communique en anglais</li>
          <li>Législation sécurité et hygiène</li>
          <li>Informatique</li>
        </ul>
        <div class="m-t-30">
          <button type="button" class="btn bg-facebook btn-rounded mr-3">
            <i class="fa fa-facebook"></i> Facebook
          </button>
          <button type="button" class="btn bg-twitter btn-rounded">
            <i class="fa fa-twitter"></i> Twitter
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Row  -->
</div>
