.demo{ font-family: 'Noto Sans', sans-serif; }
.panel{
  background: linear-gradient(to right, #2980b9, #10B1D4);
  padding: 0;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.05),0 0 0 10px rgba(0,0,0,0.05);
}

.panel .panel-heading .title{
  color: #fff;
}
.panel .panel-heading .btn{
  color: rgba(255,255,255,0.5);
  background: transparent;
  font-size: 16px;
  text-transform: capitalize;
  border: 2px solid #fff;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}


.panel .panel-body .table thead tr th{
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}
.panel .panel-body .table tbody tr td{
  color: #fff;
  font-size: 15px;
  padding: 10px 12px;
  vertical-align: middle;
  border: none;
}

.panel .panel-body .table tbody .action-list li{
  display: inline-block;
  margin: 0 5px;
}

