<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/entreprise2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->

<div class="spacer feature22">
  <div class="container">

    <div class="row wrap-feature-22">

      <!-- Column -->
      <div class="col-lg-12 no-trans">
        <div class="text-box">
          <h1 style="font-size: 14pt; color: #10b1d4;">Espace Entreprise</h1>

<p class="text-justify"> Depuis sa fondation en 2005, comme un institut de formation professionnelle, l'IFT a accompagné un bon nombre de sociétés dans leur réussite à travers un système de formation interentreprises basé sur le développement durable des performances et l'amélioration de la rentabilité. </p>
<p class="text-justify">L'IFT propose des prestations au service de la performance individuelle et collective des entreprises qui désirent développer les compétences et les talents de leurs employés sur le plan individuel et collectif pour une meilleure efficacité.</p>
        </div>
      </div>
      <!-- Column -->



      <!-- Column -->
      <div class="col-lg-12 no-trans">
        <div class="text-box">
          <h1 style="font-size: 14pt; color: #10b1d4;">INSCRIPTION</h1>
         formulaire
        </div>
      </div>
      <!-- Column -->
    </div>


  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 22  -->
<!-- ============================================================== -->


