<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center">
        <h1 class="title">Formations BTP</h1>
        <h5 class="subtitle op-5">
          BTP Comptable d’entreprise
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container fw-lighter">
  <div class="row justify-content-center">
    <div class="col-md-8 no-trans">
      <div class="mini-spacer">
        <img src="assets/images/btp/303.jpg" alt="wrapkit" class="img-fluid" />
        <div
          class="d-flex align-items-center text-uppercase m-t-40 font-13 font-medium"
        ><div class="ml-auto">
        </div>
        </div>
        <h2 class="title font-light">
          BTP Comptable d’entreprise
        </h2>
        <p class="m-t-30 m-b-30" class="text-justify">
          Le technicien sera capable de gérer l’entreprise au point de vue financier (élaboration des états financiers, fiche de paie, déclaration)
        </p>

        <p class="m-t-30 m-b-30">

        <h1 style="font-size: 14pt; color: #10b1d4;"> Emploi et spécialité visés :</h1>

        <p class="text-justify">Après une formation continue de 2 ans dans la filière BTP comptable d’entreprise le bénéficiaire sera capable :
        </p>

        <ul>
          <li>La mise en place du système d’information comptable d’entrepris</li>
          <li>Intervenir dans le traitement de l’analyse comptable</li>
          <li>Calculer les différents types d’impôts</li>
          <li>Etablir les déclarations fiscales et sociales</li>
          <li>Produisant des documents de gestion et comptable informatisés</li>
        </ul>


        <h1 style="font-size: 14pt; color: #10b1d4;">Les compétences de base : </h1>
        <ul>
          <li>Dans des entreprises</li>
          <li>Enregistrer les opérations en comptabilité</li>
          <li>Etablir les documents de synthèse</li>
          <li>Etablir les paies et déclarations fiscales</li>
          <li>Assurer le suivi administratif</li>
        </ul>



        <h1 style="font-size: 14pt; color: #10b1d4;"> Les Modules:</h1>
        1 ère année :
        <ul>
          <li>Se familiariser avec la profession</li>
          <li>Utiliser des techniques comptables</li>
          <li>Organisation son travail</li>
          <li>Traitement des documents commerciaux</li>
          <li>Education environnementale</li>
          <li>Qualité</li>
          <li>Français</li>
          <li>Arabe</li>
          <li>Exploiter un logiciel de traitement de texte</li>
          <li>Exploiter un logiciel tableur</li>
          <li>Etablir des déclarations fiscales mensuelles</li>
          <li>Législation santé hygiène et sécurité</li>
        </ul>

        2 ème année :
        <ul>
          <li> Communication en milieu professionnel</li>
          <li> Préparer la paie</li>
          <li>Déterminer les couts d’exploitation</li>
          <li>Appliquer la législation commerciale</li>
          <li>Effectuer des travaux d’inventaire</li>
          <li> Etablir les états financiers</li>
          <li> Assurer le suivi des stocks</li>
          <li>Appliquer les règles mathématiques financières</li>
          <li>Comptabilisation des opérations d’exploitation</li>
          <li>Etablir les déclarations fiscales annuelles</li>
          <li>Comptabilisation des opérations d’investissement et de financement</li>
          <li>S’intégrer au marché de travail</li>
        </ul>

      </div>
    </div>
  </div>
  <!-- Row  -->
</div>
