<div
  class="static-slider-head"
  style=" background-image: url(assets/images/landingpage/benner1.jpg) "
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
        <h2 class="title">Inscriptions ouvertes 2021-2022</h2>
        <h5 class="subtitle op-5">
          Inscrivez vous dès aujourd'hui !
        </h5>

        <a
          href="https://www.wrappixel.com/free-wrapkit-angular-blog"
          class="btn btn-md m-t-30 btn-success-gradiant font-14"
          target="blank"
          >Accédez</a
        >
      </div>
      <!-- Column -->
    </div>
  </div>
</div>



<div class="spacer feature22">
  <div class="container">
    <app-top-content></app-top-content>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 22  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Feature 1  -->
<!-- ============================================================== -->
<div class="bg-light spacer feature1">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">L'IFT au quotidien</h2>
        <h6 class="subtitle">
          Certes, la réussite d’un stagiaire dans sa vie professionnelle est le résultat de beaucoup d’efforts et de sacrifices….
          Mais, une réussite durable et pérenne représente le fruit de la passion qu’on éprouve pour son métier.
          Faites, donc de votre passion un métier.
        </h6>
      </div>
    </div>
    <app-relay-on></app-relay-on>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 1  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Call to action -->
<!-- ============================================================== -->
<div class="spacer">
  <div class="container">
    <div class="row justify-content-center m-b-30">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">
          Espace Entreprise
        </h2>
        <h6 class="subtitle">

          <p>Depuis sa fondation en 2005, comme un institut de formation professionnelle,
          l'IFT a accompagné un bon nombre de sociétés dans leur réussite à travers
          un système de formation interentreprises basé sur le développement durable des
            performances et l'amélioration de la rentabilité.</p>

          <p>
            L'IFT propose des prestations au service de la performance individuelle et
            collective des entreprises qui désirent développer les compétences et les talents
            de leurs employés sur le plan individuel et collectif pour une meilleure efficacité.
          </p>

        </h6>
        <a
          class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
          data-toggle="collapse"
          href="/inscrientreprise"
        ><span>Lire plus <i class="ti-arrow-right"></i></span
        ></a>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Call to action -->
<!-- ============================================================== -->



<div class="bg-light spacer feature1">
  <div class="container">
    <!-- Row  -->






<!-- Row  -->
    <div class="bg-light spacer feature1">
      <div class="container">
  <div class="row justify-content-center">
    <!-- Column -->
    <div class="col-md-8 no-trans text-center ">
      <h2 class="title">Formations</h2>
      <h6 class="subtitle">

        <p>Nos cours de formation professionnelle sont conçus pour les personnes qui
        souhaitent soit commencer une nouvelle carrière et devenir gestionnaires,
          comptables ou informaticiens, soit ajouter des compétences dans une structure de carrière déjà existante.</p>


        <p>Inscrivez-vous dans notre programme de formation,
        et profitez d'une formation professionnelle (BTS ou BTP)
          sur mesure assurée par des formateurs qualifiés.</p>
      </h6>
    </div>
    <!-- Column -->
  </div>
  <div class="row m-t-40 justify-content-center">
    <!-- Column -->
    <div
      class="col-md-8 no-trans border-bottom mb-4 "
      *ngFor="let bl of service.Blogs"
    >
      <div class="card bg-light" data-aos="flip-left" data-aos-duration="1200">
        <div class="row">
          <div class="col-md-2 no-trans bg-light">
            <span class="text-dark font-medium">{{ bl.Date }}</span>
          </div>
          <div class="col-md-7 no-trans">
            <h5 class="font-medium cursor-pointer" (click)="viewDetail(bl.Lien,bl.id)">
              {{ bl.titre.substring(0, 50) }}..
            </h5>
            <p class="m-t-20">
              {{ bl.petitTitre }}
            </p>
          </div>
          <div class="col-md-3 no-trans">
            <a
              class="linking font-medium text-themecolor m-t-10 cursor-pointer"
            >
              <span (click)="viewDetail(bl.Lien,bl.id)">Show Detail</span>
              <i class="ti-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
  </div></div>
