<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center">
        <h1 class="title">Formations BTS</h1>
        <h5 class="subtitle op-5">
          BTS Multimédia
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 no-trans">
      <div class="mini-spacer">
        <img src="assets/images/blog/202.jpg" alt="wrapkit" class="img-fluid" />
        <div
          class="d-flex align-items-center text-uppercase m-t-40 font-13 font-medium"
        ><div class="ml-auto">
        </div>
        </div>
        <h2 class="title font-light">
          BTS Multimédia
        </h2>
        <p class="m-t-30 m-b-30" class="text-justify">
          La formation en BTS Multimédia permet d’apprendre aux stagiaires la mise en œuvre, la réalisation et l’exploitation d’un site web. A terme le technicien peut évoluer vers des fonctions de chef de projet.
        </p>



        <!--- contenu -----
        ------->
        <p class="m-t-30 m-b-30">
        <h1 style="font-size: 14pt; color: #10b1d4;">Emploi et spécialisé visés :</h1>
        <p class="text-justify">
          Après une formation continue en 2 ans dans la filière TM Technicien Multimédia le bénéficiaire sera capable :</p>
        <ul class="text-justify">
          <li class="text-justify">D’accepter les compétences reliées à la production de divers types de créations interactives et d’applications multimédia.</li>
          <li class="text-justify">Vous serez en mesure de concevoir des projets multimédias.</li>
          <li class="text-justify">D’élaborer des scénarios interactifs, d’intégrer les différents volets d’un projet, de programmer, tester et valider un prototype.</li>
          <li class="text-justify">Connaitre les stratégies de commercialisation des produits ainsi que planifier et d’évaluer les coûts de production.</li>
        </ul>


        <h1 style="font-size: 14pt; color: #10b1d4;">Toutes entreprises réalisant des applications multimédia :</h1>
        <ul class="text-justify">
          <li class="text-justify">Agence de création des sites Internet, de production multimédia.</li>
          <li class="text-justify">Agence de communication, ou publicité, studio de création ayant une division multimédia.</li>
          <li class="text-justify">Studio intégré au sein d’une entreprise.</li>
          <li class="text-justify">Administration, collectivité locale ou territoriale.</li>
          <li class="text-justify"> Organisme de formation professionnelle.</li>
          <li class="text-justify">Secteur éducatif et associatif.</li>
          <li class="text-justify">Concepteur réalisateur indépendant.</li>
        </ul>


        <h1 style="font-size: 14pt; color: #10b1d4;">Le Technicien en Multimédia à sa charge :</h1>
        <ul class="text-justify">
          <li class="text-justify">D’effectuer de la recherche documentaire et étudier la faisabilité d’un projet.</li>
          <li class="text-justify"> Concevoir les composantes visuelles en fonction des objectifs.</li>
          <li class="text-justify">Viser et élaborer des conceptions d’imagerie numériques.</li>
        </ul>



        <h1 style="font-size: 14pt; color: #10b1d4;">Le Technicien en Multimédia participe à l’ensemble des étapes de la mise en œuvre multimédia :</h1>
        <ul class="text-justify">
          <li class="text-justify">Conception artistique et technique (scénario, charte graphique, architecture technique...)</li>
          <li class="text-justify"> Réalisation (composants techniques graphiques) et exploitation (maintenance de site web, référencement, etc…)</li>
          <li class="text-justify">Il a la capacité à exercer ce métier dans des environnements variés tant sur le plan technique que fonctionnel (sites institutionnels, e-commerce, CDROM, e-Learning…)</li>
          <li class="text-justify">A terme, le Technicien en Multimédia peut évoluer vers des fonctions de chef de projets multimédia.</li>

        </ul>


        <h1 style="font-size: 14pt; color: #10b1d4;"> Les Modules :</h1>
        <p> 1 ère année :</p>
        <ul class="text-justify">
          <li class="text-justify">Système d’exploitation</li>
          <li class="text-justify">Architecture système informatique</li>
          <li class="text-justify">Applications Bureautiques Ms Word, Ms Excel, Ms PowerPoint</li>
          <li class="text-justify">Cryptographies &amp; Sécurité des données informatiques</li>
          <li class="text-justify">Français</li>
          <li class="text-justify">Anglais</li>
          <li class="text-justify">Arabe</li>
          <li class="text-justify">HTML</li>
          <li class="text-justify">Internet</li>
          <li class="text-justify">Gestion d’entreprise</li>
          <li class="text-justify">Gestionnaire de Bases de données (MS Access)</li>
          <li class="text-justify">Système d’exploitation réseaux</li>
          <li class="text-justify">Législation-Hygiène- Santé-Sécurité</li>
          <li class="text-justify">Observer la réalité du milieu du travail</li>
        </ul>




        <p> 2 ème année :</p>
        <ul class="text-justify">
          <li class="text-justify">Langages Scriptes (Java scripts)</li>
          <li class="text-justify">Logiciels Auteurs Macro média Director</li>
          <li class="text-justify">Logiciel de création de sites web</li>
          <li class="text-justify">Commerce électronique</li>
          <li class="text-justify">Interface homme machine</li>
          <li class="text-justify">Traitement d’images (Adobe Photoshop)</li>
          <li class="text-justify">Traitement son</li>
          <li class="text-justify">Traitement Védio (Adobe Première)</li>
          <li class="text-justify">Animation 2D Macro média Flash</li>
          <li class="text-justify">Technologie de la communication</li>
          <li class="text-justify">Expression plastique</li>
          <li class="text-justify">S’intégrer au marché de travail</li>
        </ul>

        <!--- contenu -----
                ------->

        <div class="m-t-30">
          <button type="button" class="btn bg-facebook btn-rounded mr-3">
            <i class="fa fa-facebook"></i> Facebook
          </button>
          <button type="button" class="btn bg-twitter btn-rounded">
            <i class="fa fa-twitter"></i> Twitter
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Row  -->
</div>
