<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-formation.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">IFT S’engage</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->

<div class="spacer feature22">
  <div class="container fw-lighter">

    <div class="row wrap-feature-22">
      <!-- Column -->
      <div class="col-lg-12 no-trans">
        <div class="text-box">


          <h1 style="font-size: 14pt; color: #10b1d4;">IFT S’engage</h1>
          <p class="text-justify">
            Lorsque vous choisissez l'institut de formation de Tunis "IFT"
            pour une formation professionnelle, vous rejoignez les rangs de
            nombreux autres étudiants qui ont opté pour l'amélioration de leurs compétences.
          </p>



          <h1 style="font-size: 14pt; color: #10b1d4;">Commencez votre carrière professionnelle avec L'IFT</h1>
          <p class="text-justify">
            Depuis 2005, plusieurs personnes ont commencé leur carrière
            professionnelle équipés d'un ensemble de connaissances techniques
            fournis par une équipe de personnels expérimentés et attentionnés.
          </p>


          <h1 style="font-size: 14pt; color: #10b1d4;">Mission de l'institut de Formation de Tunis IFT</h1>
          <p class="text-justify">
            Le <b>Centre de formation professionnelle IFT</b>,
            a été fondé pour aider les étudiants à tracer
            leur propre carrière professionnelle grâce à
            une formation technique et professionnelle offrant une
            grande variété de programmes visant l'obtention des <b>diplômes
            homologués</b> de <b>BTP et BTS </b> gestion d'entreprise, BTS de comptabilité,
            BTS marketing et des nouvelles technologies.
          </p>

          <p>Notre institut de formation professionnelle ITF porte la responsabilité
            d’améliorer les compétences de chaque étudiant dans des différents domaines
            de la gestion des entreprises à l’informatique. La qualité de notre formation
            garanti à nos diplômés une meilleure intégration à la vie professionnelle.
          </p>


          <h1 style="font-size: 14pt; color: #10b1d4;">Les formations IFT</h1>

          <p class="text-justify">
            L'IFT a mis en place des conventions et des partenariats avec les plus grandes sociétés et entreprises Tunisiennes pour garantir à ses diplômés une transition en douceur de la formation à l'emploi.
          </p>
          <p class="text-justify">
            Des sociétés locaux et internationaux font confiance à la qualité des programmes de l'institut IFT, et embauchent régulièrement des diplômés que nous les recommandons.
          </p>


        </div>
      </div>
      <!-- Column -->
    </div>


  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 22  -->
<!-- ============================================================== -->
