<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center">
        <h1 class="title">Formations BTS</h1>
        <h5 class="subtitle op-5">
          BTS réseaux informatiques
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container fw-lighter">
  <div class="row justify-content-center">
    <div class="col-md-8 no-trans">
      <div class="mini-spacer">
        <img src="assets/images/blog/303.jpg" alt="wrapkit" class="img-fluid" />
        <div
          class="d-flex align-items-center text-uppercase m-t-40 font-13 font-medium"
        ><div class="ml-auto">
        </div>
        </div>
        <h2 class="title font-light">
          BTS réseaux informatiques
        </h2>
        <p class="m-t-30 m-b-30" class="text-justify">
          Le technicien en Réseaux Informatiques est capable de traiter, gérer et concevoir un système réseau fiable et performant au sein de l’Entreprise.
        </p>



        <!-- colonne-->
        <p class="m-t-30 m-b-30">

        <h1 style="font-size: 14pt; color: #10b1d4;">Profil de la formation BTS réseaux informatiques</h1>
        <p class="text-justify">
          Le technicien réseaux est charge  d'intervenir sur les équipements ou le câblage . Il a pour mission d'assurer une qualité de service optimale aux utilisateurs, soutenir le réseau de communication et d'installer les équipements...Travaillant sous les ordres d'un administrateur ou d'un ingénieur réseau il est un élément essentiel au bon fonctionnement d'une entreprise.
        </p>

        <h1 style="font-size: 14pt; color: #10b1d4;">Conditions d’admission</h1>
        <ul class="text-justify">
         <li class="text-justify">Etre titulaire du Baccalauréat ou équivalent de 13 ans d’études réussis.</li>
        </ul>



        <h1 style="font-size: 14pt; color: #10b1d4;">Conditions de réussite</h1>
        <ul class="text-justify">
          <li class="text-justify"> Avoir une moyenne générale de contrôle des connaissances supérieure ou égale à 10/20.</li>
          <li class="text-justify"> Avoir une note de mémoire ou de stage supérieure ou égale à 10/20.</li>
          <li class="text-justify"> Avoir une note supérieure ou égale à 10/20 dans les travaux de recherche bibliographique.</li>
        </ul>



        <h1 style="font-size: 14pt; color: #10b1d4;">Durée de la formation</h1>
        <p>2 ans</p>


        <h1 style="font-size: 14pt; color: #10b1d4;">Programme de formation (Programme provisoire : le nombre de modules , le choix de matières et les intitulés de modules peuvent changer d’une année à l’autre)</h1>



        <table>
          <tbody>
          <tr>
            <td>
              Semestre 1
              <ul class="text-justify">
                <li class="text-justify">Electronique 1</li>
                <li class="text-justify">Electronique 2</li>
                <li class="text-justify">Architecture système et applications informatiques</li>
                <li class="text-justify">Français</li>
                <li class="text-justify">Gestion, droit et sécurité</li>
                <li class="text-justify">Algorithmique</li>
              </ul>
            </td>
            <td>
              Semestre 2
              <ul class="text-justify">
                <li class="text-justify">Electronique 1</li>
                <li class="text-justify">Electronique 2</li>
                <li class="text-justify">Réseau 1</li>
                <li class="text-justify">Systèmes d’exploitation réseaux 1</li>
                <li class="text-justify">Systèmes à microprocesseurs</li>
                <li class="text-justify">Préparation stage d’observation</li>
                <li class="text-justify">Stage d’observation</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              Semestre 3
              <ul class="text-justify">
                <li class="text-justify">Systèmes à microprocesseurs</li>
                <li class="text-justify">Sécurité des réseaux informatiques</li>
                <li class="text-justify">Systèmes d’exploitation réseaux 2</li>
                <li class="text-justify">Systèmes d’exploitation réseaux 3</li>
                <li class="text-justify">Réseau 2</li>
                <li class="text-justify">Réseau 3</li>
                <li class="text-justify">Anglais</li>
                <li class="text-justify">Réseaux sans fil</li>
              </ul>
            </td>
            <td>
              Semestre 4
              <ul class="text-justify">
                <li class="text-justify">Sécurité des réseaux informatiques</li>
                <li class="text-justify">Systèmes d’exploitation réseaux 4</li>
                <li class="text-justify">Systèmes d’exploitation réseaux 5</li>
                <li class="text-justify">Réseau 4</li>
                <li class="text-justify">Préparation de stage d’intégration</li>
                <li class="text-justify">Langage JavaScript</li>
                <li class="text-justify">Projet</li>
                <li class="text-justify">Stage d’intégration</li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <!-- Row  -->
</div>

