<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center">
        <h1 class="title">Formations BTS</h1>
        <h5 class="subtitle op-5">
          BTS Infographie et Communication
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 no-trans">
      <div class="mini-spacer">
        <img src="assets/images/blog/707.jpg" alt="wrapkit" class="img-fluid" />
        <div
          class="d-flex align-items-center text-uppercase m-t-40 font-13 font-medium"
        ><div class="ml-auto">
        </div>
        </div>
        <h2 class="title font-light">
          BTS Infographie et Communication
        </h2>
        <p class="m-t-30 m-b-30" class="text-justify">
          La formation en BTS international permet d’initier les stagiaires aux techniques de commercialisation (import et export), de la vente, de la négociation, de la communication que ce soit à l’échelle nationale ou internationale.
        </p>



        <!-- colonne-->
        <p class="m-t-30 m-b-30">


        <h1 style="font-size: 14pt; color: #10b1d4;">Conditions d’admission</h1>
        <ul class="text-justify">
          <li class="text-justify">Etre titulaire du Baccalauréat ou équivalent de 13 ans d’études réussis.</li>
        </ul>

        <h1 style="font-size: 14pt; color: #10b1d4;">Conditions de réussite</h1>
        <ul class="text-justify">
          <li class="text-justify">Avoir une moyenne générale de contrôle des connaissances supérieure ou égale à 10/20</li>
          <li class="text-justify">Avoir une note de mémoire ou de stages supérieurs ou égale à 10/20.</li>
          <li class="text-justify">Avoir une note supérieure ou égale à 10/20 dans les travaux de recherche bibliographique.</li>
        </ul>
        <h1 style="font-size: 14pt; color: #10b1d4;">Durée de la formation</h1>
        <ul class="text-justify">
          <li class="text-justify">2 ans </li>
         </ul>



        <h1 style="font-size: 14pt; color: #10b1d4;"> Programme de formation (Programme provisoire : le nombre de modules , le choix de matières  et les intitulés de modules peuvent changer d’une année à l’autre)</h1>
       <ul class="text-justify">
          <li class="text-justify">Systèmes d’exploitation</li>
         <li class="text-justify">Bureautique</li>
         <li class="text-justify">Bases typographiques</li>
         <li class="text-justify">Logiciels de mise en page</li>
         <li class="text-justify">Logiciels de dessin vectoriel</li>
         <li class="text-justify">Logiciel de retouche</li>
         <li class="text-justify">Gestion de l’environnement de travail</li>
         <li class="text-justify">Création en pré-impression</li>
         <li class="text-justify">Physique des couleurs</li>
         <li class="text-justify">Imposition</li>
         <li class="text-justify">Contrôle qualité</li>
         <li class="text-justify">Les logiciels de Multimédia</li>
         <li class="text-justify">Techniques de communication</li>
         <li class="text-justify">Stage d’observation</li>
         <li class="text-justify">Stage d’intégration</li>
      </ul>

        <!-- colonne--
        ------>

        <div class="m-t-30">
          <button type="button" class="btn bg-facebook btn-rounded mr-3">
            <i class="fa fa-facebook"></i> Facebook
          </button>
          <button type="button" class="btn bg-twitter btn-rounded">
            <i class="fa fa-twitter"></i> Twitter
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Row  -->
</div>

