<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center">
        <h1 class="title">Formations BTP</h1>
        <h5 class="subtitle op-5">
          BTP Infographie et Publication Assisté par Ordinateur
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 no-trans">
      <div class="mini-spacer">
        <img src="assets/images/btp/505.jpg" alt="wrapkit" class="img-fluid" />
        <div
          class="d-flex align-items-center text-uppercase m-t-40 font-13 font-medium"
        ><div class="ml-auto">
        </div>
        </div>
        <h2 class="title font-light">
          BTP Infographie et Publication Assisté par Ordinateur
        </h2>
        <p class="m-t-30 m-b-30" class="text-justify">
          Le technicien en infographie est capable de concevoir des documents attractifs à visée publicitaire ou institutionnelle (flyers, affiche, logo,..).
        </p>
        <p class="m-t-30 m-b-30">




        <h1 style="font-size: 14pt; color: #10b1d4;">Emploi et spécialisé visés : </h1>

        <p class="text-justify">
          Le Technicien en « infographie et publication assistée par ordinateur » assure la production multimédia classique et numérique. Il dispose les textes, les illustrations, les photos…
          Il sera capable de créer et utiliser les logiciels de dessin, traitement d’image sur différentes plateformes.
        </p>


        <h1 style="font-size: 14pt; color: #10b1d4;">Les compétences de base :</h1>
        <ul>
          <li>Avoir le sens développé avec une grande précision</li>
          <li> Maitriser l’outil informatique</li>
          <li>Respecter les règles de confidentialité des informations traitées</li>
          <li> Résoudre des problèmes liés à des situations imprévues</li>
        </ul>



        <h1 style="font-size: 14pt; color: #10b1d4;">Les Modules:</h1>
        <ul>
          <li>Informatique Générale</li>
          <li>Application Bureautique</li>
          <li>Dessin Vectoriel</li>
          <li>Dessin Artistique</li>
          <li>Mise en page</li>
          <li>Maquette</li>
          <li>Traitement graphique</li>
          <li>Chaine graphique</li>
          <li>Physique de la couleur</li>
          <li>Multimédia et Internet</li>
          <li>Création page web</li>
          <li>Animation 2D</li>
          <li>Animation 3D</li>
          <li>Communication</li>
          <li>Marketing</li>
          <li>Arabe</li>
          <li>Français</li>
          <li>Anglais</li>
          <li>Gestion d’entreprise</li>
          <li>Sécurité de travail</li>
          <li>Législation de travail</li>
          <li>Stages Observer la réalité au milieu de travail</li>
          <li>Projet</li>
          <li>S’intégrer au marché du travail</li>
        </ul>



        <div class="m-t-30">
          <button type="button" class="btn bg-facebook btn-rounded mr-3">
            <i class="fa fa-facebook"></i> Facebook
          </button>
          <button type="button" class="btn bg-twitter btn-rounded">
            <i class="fa fa-twitter"></i> Twitter
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Row  -->
</div>
