<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center">
        <h1 class="title">Formations BTS</h1>
        <h5 class="subtitle op-5">
          BTS Informatique de gestion
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 no-trans">
      <div class="mini-spacer">
        <img src="assets/images/blog/404.jpg" alt="wrapkit" class="img-fluid" />
        <div
          class="d-flex align-items-center text-uppercase m-t-40 font-13 font-medium"
        ><div class="ml-auto">
        </div>
        </div>
        <h2 class="title font-light">
          BTS Informatique de gestion
        </h2>
        <p class="m-t-30 m-b-30" class="text-justify">
          Le cursus en BTS Informatique de Gestion permet de former les stagiaires aux fonctions administratives (classement,…),Techniques (installation composante, sécurité, gestion de la panne, programmation  dans divers langages, diagnostic des anomalies…). Il permet à  l’apprenant de savoir gérer le parc informatique.        </p>



        <!-- colonne-->
        <p class="m-t-30 m-b-30">
        <h1 style="font-size: 14pt; color: #10b1d4;">Emploi et spécialisé visés :</h1>
        <p class="text-justify">
          Le Technicien Supérieur en Informatique de Gestion doit réaliser les fonctions suivantes :
        </p>
        <ul class="text-justify">
            <li class="text-justify">Gérer les différents fichiers (informatiques et autres)</li>
          <li class="text-justify">Administrer des données</li>
          <li class="text-justify">Assister les utilisateurs à l’exploitation de logiciels</li>
          <li class="text-justify">Développer des applications locales</li>
          <li class="text-justify">Solutionner des problèmes informatiques</li>
          <li class="text-justify">Former des utilisateurs</li>
          <li class="text-justify">Réaliser des projets informatiques</li>
          <li class="text-justify">Programmer dans différents langages</li>
          <li class="text-justify">Création des base de données informatisées (fournisseurs, clients, bon de commandes,etc.…)</li>
          <li class="text-justify">Communication en Français et Anglais</li>
        </ul>



        <h1 style="font-size: 14pt; color: #10b1d4;">Les compétences de base  :</h1>
        <ul class="text-justify">
          <li class="text-justify">Assister l’exploitation d’un logiciel de gestion Gérer les droits d’accès de chaque membre de l’entreprise Connaitre les
            différentes étapes d’un projet d’entreprise Rédiger des formes de communication (rapport, compte rendu, etc…)</li>
        </ul>




        <h1 style="font-size: 14pt; color: #10b1d4;">Les compétences associées :</h1>
        <ul class="text-justify">
          <li class="text-justify">Comprendre les étapes de résolution d’un problème</li>
          <li class="text-justify">Savoir développer, maintenir et corriger une application locale</li>
          <li class="text-justify">Savoir transformer un algorithme en programme codé.</li>
        </ul>



        <h1 style="font-size: 14pt; color: #10b1d4;"> Les compétences liées à l’emploi :</h1>
        <ul class="text-justify">
          <li class="text-justify">Etre organisé et méthodique</li>
          <li class="text-justify">Avoir l’esprit d’équipe</li>
          <li class="text-justify">Avoir la communication facile</li>
          <li class="text-justify">Savoir s’adapter facilement</li>
        </ul>

        <!-- colonne--
        ------>

        <div class="m-t-30">
          <button type="button" class="btn bg-facebook btn-rounded mr-3">
            <i class="fa fa-facebook"></i> Facebook
          </button>
          <button type="button" class="btn bg-twitter btn-rounded">
            <i class="fa fa-twitter"></i> Twitter
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Row  -->
</div>

