<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center">
        <h1 class="title">Formations BTP</h1>
        <h5 class="subtitle op-5">
          Modules techniques de la formation en pâtisserie
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container fw-lighter">
  <div class="row justify-content-center">
    <div class="col-md-8 no-trans">
      <div class="mini-spacer">
        <img src="assets/images/btp/808.jpg" alt="wrapkit" class="img-fluid" />
        <div
          class="d-flex align-items-center text-uppercase m-t-40 font-13 font-medium"
        ><div class="ml-auto">
        </div>
        </div>
        <h2 class="title font-light">
          Modules techniques de la formation en pâtisserie
        </h2>
        <p class="m-t-30 m-b-30" class="text-justify">
          Vous êtes à la recherche d'une formation ? Le BTP Pâtisserie vous permettra de bénéficier d'une formation complète et pratique et vous serez capable de concevoir des mets variés et des pâtisseries ou viennoiseries raffinés. Pour le plaisir des yeux et du palais, vous deviendrez un professionnel confirmé sollicité par les entreprises de renom.
        </p>

        <p class="m-t-30 m-b-30">


        <p class="text-justify">
          Le restaurant de l'école perfectionnera ta formation en bénéficiant de formation sous forme d'ateliers pratiques
        </p>


        Métier et formation
        <ul>
          <li>Etablir les liens entre matières Premières, du matériel et la fabrication des mets</li>
          <li>Assurer la qualité de service â la clientèle</li>
          <li> Hygiène et sécurité alimentaire</li>
          <li> Réaliser des pâtes</li>
          <li> Réaliser des crémes, des mousses et des garnitures</li>
          <li> Réaliser des glaces et des sorbets</li>
          <li> Réaliser des pâtisseries</li>
          <li> Intégration en milieu du travail</li>
          <li> Réaliser des pâtisseries tunisiennes</li>
          <li> Réaliser des décorations en pâtisserie</li>
          <li> Utiliser des moyens de recherche d'emploi</li>
          <li> Gestion d'entreprise</li>
          <li> Législation de travail</li>
          <li> Gestion de la qualité</li>
          <li> Informatique</li>
          <li> Santé et sécurité du travail</li>
        </ul>




        Langues & Communications
        <ul>
          <li>Communication en langue française dans des situations professionnelles</li>
          <li>Communication en langue Anglaise dans des situations professionnelles</li>
          <li> Techniques de communication</li>
          <li>Communication dans une troisième langue</li>
          <li> Arabe</li>
          </ul>


      </div>
    </div>
  </div>
  <!-- Row  -->
</div>
