<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center">
        <h1 class="title">Formations BTP</h1>
        <h5 class="subtitle op-5">
          BTP Informatique de gestion
        </h5>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- Row  -->
<div class="container fw-lighter">
  <div class="row justify-content-center">
    <div class="col-md-8 no-trans">
      <div class="mini-spacer">
        <img src="assets/images/btp/202.jpg" alt="wrapkit" class="img-fluid" />
        <div
          class="d-flex align-items-center text-uppercase m-t-40 font-13 font-medium"
        ><div class="ml-auto">
        </div>
        </div>
        <h2 class="title font-light">
          BTP Informatique de gestion
        </h2>
        <p class="m-t-30 m-b-30" class="text-justify">
          Le technicien en Informatique de Gestion peut suite à la formation, gérer les pannes, assurer la sécurité, traiter les anomalies, créer les logiciels..
        </p>

        <p class="m-t-30 m-b-30">
        <h1 style="font-size: 14pt; color: #10b1d4;">Emploi et spécialisé visés :</h1>

        <p class="text-justify">Le Technicien de soutien en Informatique de gestion est tenu de réaliser les fonctions suivantes :</p>

        <ul>
          <li>Installer des composantes matérielles et logicielles</li>
          <li>Réparer des pannes hard et/ou soft</li>
          <li>Diagnostiquer les anomalies</li>
          <li>Communication en français et anglais</li>
        </ul>


        <h1 style="font-size: 14pt; color: #10b1d4;">Les compétences de bases :</h1>

        <ul>
          <li> Maitriser une technique informatique pour résoudre les problèmes hard &amp; soft</li>
          <li>Connaitre les différentes composantes d’un système informatique</li>
          <li>Savoir installer les différentes composantes d’un système informatique</li>
        </ul>



        <h1 style="font-size: 14pt; color: #10b1d4;"> Les compétences associées :</h1>

        <ul>
          <li>Maitrise l’outil informatique</li>
          <li>Comprendre les étapes de résolution d’un problème</li>
          <li>Savoir analyser, diagnostiquer et réparer une panne</li>
        </ul>


        <h1 style="font-size: 14pt; color: #10b1d4;">Les compétences liées à l’emploi :</h1>

        <ul>
          <li>Avoir le sens de l’organisation</li>
          <li>Savoir intégrer un système d’information et l’enrichir</li>
          <li>Avoir une capacité à solutionner les situations rédhibitoires</li>
          <li>Avoir l’esprit d’analyse et de synthèse</li>
          <li>Avoir l’esprit d’initiative et de créativité</li>
        </ul>

      </div>
    </div>
  </div>
  <!-- Row  -->
</div>
