<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6" data-aos="flip-up" data-aos-duration="1200">
    <img [src]="imagePath" class="rounded img-responsive" alt="wrapkit" />
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="text-box">
      <small class="text-info font-medium">Qui sommes nous ?</small>
      <h3 class="font-light">
        Présentation de l’institut de formation professionnelle
        <span class="text-info">IFT</span>
         en Tunisie
      </h3>
      <p class="text-justify">
        L’institut de formation professionnelle en Tunisie "IFT" a été créé en 2005.
        Suite à l'obtention de l'homologation auprès du Ministère de la Formation professionnelle et de l’Emploi,
        l'institut a annoncé sa fondation dans le but d'offrir une solution de formation pratique pour
        les étudiants qui désirent faire carrière dans la comptabilité, l'informatique de gestion ou le commerce International.
        En adoptant une approche unique de l'enseignement, avec un accent sur l'apprenant adulte,
        l'école a rapidement élargi ses programmes pour répondre au mieux aux besoins des étudiants en Tunisie.
      </p>
      <a
        class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
        data-toggle="collapse"
        routerLink="/quinous"
      >
        <span
          >lire plus
          <i class="ti-arrow-right"></i>
        </span>
      </a>

    </div>
  </div>
  <!-- Column -->
</div>
